.header
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading(href='/') BIKESHEDME

    ul
      li(ng-repeat='item in menu', ng-class="{'pure-menu-selected': isActive(item.link)}")
        a(ng-href='{{item.link}}') {{item.title}}
